ardupilot_dev_docker/*
ardupilot/*
Micro-XRCE-DDS-Gen/*
build/*
install/*
logs/*
log/
flight_logs/*

# Nested dependency repositories / generated workspaces
Micro-XRCE-DDS-Gen/
ardupilot/
traj_estimation_msgs/
